.JoinForm {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: noto-sans-cjk-kr,sans-serif;
  font-size: 16px;
}

.JoinForm .navLogo {
  font-size: 30px;
  padding: 10px 0;
}

.JoinForm input {
  font-size: 15px;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: solid;
  margin-top: 30px;
  border-color: #e6e8ea;
  border-width: 0.0789em;
  font-family: 'Pretendard-Regular';
  letter-spacing: -0.03em;
  padding-left: 1em;
  transition: 0.4s all;
  outline-color: #4F85E8;
}

.JoinForm input:focus {
  border: 1px solid #4F85E8;
}

select {
  -webkit-appearance:none; /* 크롬 화살표 없애기 */
  -moz-appearance:none; /* 파이어폭스 화살표 없애기 */
  appearance:none /* 화살표 없애기 */
}

.JoinForm .InputSex select {
  font-size: 15px;
  width: 370px;
  height: 55px;
  border-radius: 10px;
  border: solid;
  margin-top: 30px;
  border-color: #e6e8ea;
  border-width: 0.0789em;
  font-family: 'Pretendard-Regular';
  letter-spacing: -0.03em;
  padding-left: 1em;
  transition: 0.4s all;
  outline-color: #4F85E8;
}