@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
  }
  @font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }

.LoginForm {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard-Medium';
    font-size: 16px;
}

.logo_header {
    width: 300px;
}

.LoginForm .navLogo {
    font-size: 30px;
    padding: 10px 0;
}

.navLogo:hover {
    opacity: 90%;
    transition: .5s all;
}

.LoginForm input {
    width: 360px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #999999;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
    margin: 10px 0;
    text-indent: 10px;
    border-radius: 8px;
    font-family: 'Pretendard-Medium';
}

.LoginForm input:focus {
    box-shadow: none !important;
}

.LoginBtn {
    width: 360px;
    height: 50px;
    margin: 20px 0;
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    background-color: #4F85E8;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Pretendard-Bold';
}

.LoginOption {
    margin: 5px 0;
}

.option-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item-text {
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    margin: 0 4px;
}

.list-item-text a, .list-item-text:link, .list-item-text:visited {
    text-decoration: none;
    color: rgb(153, 153, 153);
    text-align: center;
}

.hr-sect {
    display: flex;
    align-items: center;
    color: rgba(153, 153, 153, 0.8);
    font-size: 14px;
    margin: 20px 0;
    cursor: default;
}

.hr-sect::before, .hr-sect::after {
    content: "";
    flex-grow: 1;
    width: 160px;
    height: 1px;
    background-color: rgba(153, 153, 153, 0.8);
    font-size: 0px;
    line-height: 0px;
    margin: 0 16px;
}

.social-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.social-icon img {
    width: 280px;
    height: 60px;
}