@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

.banner_box {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bannerImg {
  width: 450px;
}

.search_container {
  padding-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.serch_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search_title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 30px;
}

.serach_input {
  width: 543px;
  height: 60px;
  border-radius: 10px;
  border: solid;
  margin-top: 20px;
  background-color: #4F85E8;
  display: flex;
  align-items: center;
}

.serach_input input {
  font-family: 'Pretendard-Medium';
  width: 580px;
  height: 54px;
  border: #00aa;
  display: flex;
  padding-left: 25px;
  font-size: 15px;
}

.serach_input ::placeholder {
  color: lightgray;
}

.search_submit {
  width: 3.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  box-sizing: border-box;
  font-size: 20px;

}

.serach_input i {
  color: #fff;
}

.input {
  font-size: 15px;
  width: 450px;
  height: 50px;
  border-radius: 10px;
  border: solid;
  margin-top: 30px;
  border-color: #e6e8ea;
  border-width: 0.0789em;
  font-family: 'Pretendard-Regular';
  letter-spacing: -0.03em;
  padding-left: 1em;
  transition: 0.4s all;
  outline-color: #4F85E8;
}

.banner_text{
  color: #2F353E;
  font-family: 'Pretendard-Bold';
  font-size: 25px;
}
.banner_text2{
  font-size: 28px;
}

.SearchResultForm {
  width: 100%;
  min-height: 640px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.SearchResultForm span {
  cursor: default;
}

.MainName{
  display:flex;
  align-items: center;
  margin: 11px;
  width: 600px;
  height: auto;
  border-radius: 30px;
  border: 1px solid rgb(42 104 181);
}

.Maintxt{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}



.u-float-right {
  float: right;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}

.u-clearfix:after {
  clear: both;
}

.u-clearfix {
  *zoom: 1;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.container {
  margin: 50px auto;
  width: 560px;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  margin-bottom: 65px;
  width: 85%;
}

.card-media {
  float: left;
  padding: 0 0 25px 25px;
  position: relative;
  width: 145px;
}

.card-media-img {
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  float: left;
  margin-top: -25px;
  position: relative;
}

.card-media-preview {
  background-color: #00AEA2;
  border-radius: 50%;
  bottom: 11px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  cursor: pointer;
  height: 30px;
  opacity: 0;
  position: absolute;
  left: 70px;
  transform: translateY(5px);
  transition: all 300ms ease-out;
  width: 30px;
  z-index: 3;
}

.card-media-preview:hover {
  background-color: #009d92;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}

.card:hover .card-media-preview {
  opacity: 1;
  transform: translateY(0);
}

.card-media-tag {
  border-radius: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .22);
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .4px;
  padding: 5px 8px;
  position: absolute;
  left: 110px;
  text-transform: uppercase;
  top: -10px;
}

.card-media-tag-orange {
  background-color: #FF982C;
  color: #FFE111;
}

.card-media-tag-brown {
  background-color: #855345;
  color: #E8CA69;
}

.card-body {
  float: left;
  padding: 25px 25px 25px 20px;
  width: 415px;
}

.card-body-heading {
  color: #6f6f6f;
  display: inline-block;
  font-size: 26px;
}

.card-body-options {
  float: right;
}

.card-body-option {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-left: 5px;
}



.card-button {
  color: #9C948A;
  display: inline-block;
  font-weight: 500;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 200ms ease-out;
}

.card-button svg {
  fill: #9C948A;
  transition: all 200ms ease-out;
}

.card-button-cta {
  background-color: #9C948A;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .15);
  color: #fff;
}

.card-button-cta:hover {
  box-shadow: 1px 5px 8px rgba(0, 0, 0, .18);
  background-color: #F44336;
}

.card-button-link:hover {
  color: #444;
}

.card-button-link:hover svg {
  fill: #444;
}

.card-button-icon {
  display:inline-block;
  vertical-align:middle;
}

.floating-action-button {
  background-color: #FF4133;
  border-radius: 50%;
  bottom: 25px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  cursor: pointer;
  height: 56px;
  position: absolute;
  right: 25px;
  transition: all 200ms ease-out;
  width: 56px;
}

.floating-action-button:hover {
  background-color: #ff2111;
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}